<%- include('../partials/header') %>

    <main id="admin-login">
        <form action="">
            <h1>Log In</h1>
            <input type="email" name="" id="" placeholder="Email Address">
            <input type="password" name="" id="" placeholder="Password">
            <input type="submit" value="Log In">
        </form>
    </main>

<%- include('../partials/footer') %>