<header class="container">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" alt="">
        </a>
        Borcelle Restaurant
    </div>
    <nav>
        <a href="/admin/">Orders</a>
        <a href="/admin/order/history">History</a>
        <a href="/admin/create">+Add Menu</a>
        <a href="/admin/menu">Menu</a>
        <a href="/admin/logout">Log Out</a>
    </nav>
</header>