<header class="container">
    <div id="logo">
        <a href="/admin">
            <img src="/images/logo.png" alt="">
        </a>
        Borcelle Restaurant
    </div>
    <nav>
        <a href="/admin/logout">Log Out</a>
    </nav>
</header>