<%- include('partials/header') %>

    <main id="home-page">
        <div id="sidebar">
            <div id="logo">
                <img src="/images/logo.png" alt="">
                <h1>Borcelle Restaraunt</h1>
            </div>
            <ul>
                <li><img src="/images/starter.png" alt="">Starter</li>
                <li><img src="/images/main-dish.png" alt="">Main Dish</li>
                <li><img src="/images/cake.png" alt="">Dessert</li>
            </ul>
            <a href="/admin/login" id="admin-console"><img src="/images/waiter.png" alt="">Admin</a>
        </div>
        <div id="menu-list">
            <div id="items"></div>
            <div id="order"></div>
        </div>
    </main>

<%- include('partials/footer') %>